---
import TimeLineElement from "@components/resume/TimeLine.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { CONTACT_EMAIL, SPECIAL_DATES } from "src/config";
import * as Io from "react-icons/io5";
import * as Fa from "react-icons/fa";
import * as Si from "react-icons/si";
import * as Tb from "react-icons/tb";
import * as Lu from "react-icons/lu";

const today = new Date();
const age = Math.floor(
	(today.getTime() - new Date("2004-07-16").getTime()) /
		(1000 * 60 * 60 * 24 * 365.25),
);
const specialMessage: string | undefined = SPECIAL_DATES[today.getMonth()]?.[today.getDate()];

---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile {specialMessage ? `(${specialMessage})` : ""}</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Hannah Harrisonn, I am a {age} years old BSc in Computer Science from the University of São Paulo - Brazil (USP) who is passionate about general technology and programming. 
    <br />
    As a self-taught person, I started learning programming at the age of 12 by myself at home with my old laptop and an 1 Mbps internet connection. Since then, I've explored so many different technologies and concepts. 
    This explorer spirit has helped me a lot, making me able to learn new stuff quickly and easily.
    <br />
    You can email me <a href=`mailto:${CONTACT_EMAIL}` class="text-accent">&lt;{CONTACT_EMAIL}&gt;</a>.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Technician in Industrial Automation"
      subtitle="2019 to 2021 at Espirito Santo's Federal Institute of Education, Science and Technology (IFES), Linhares - ES, Brazil"
    />
    <TimeLineElement
      title="BSc in Computer Science"
      subtitle="2022 to 2025 at Institute of Mathematics and Statistics of the University of São Paulo (IME-USP), São Paulo - SP, Brazil"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container grid mb-10 gap-4">
    <TimeLineElement
      title="Developer at BikeSP - USP"
      subtitle="From February, 2024 to September, 2024"
    >
      <Lu.LuBike slot="icon"/>
      I've received a scholarship to work as a developer at <a href="https://interscity.org/bikesp/" class:list={["text-primary", "font-medium"]}>BikeSP</a>, 
      a project from the University of São Paulo that aims to test the availability of a public program to encourage the use of bicycles in the city of São Paulo.
      <br />
      I've done a lot of different tasks, mainly in the react-native Android application, but also in the project organization and documentation. 
    </TimeLineElement>
    <TimeLineElement
      title="Tech Lead at BikeSP - USP"
      subtitle="From October, 2024 to March, 2025"
    >
      <Lu.LuBike slot="icon"/>
      I was promoted at <a href="https://interscity.org/bikesp/" class:list={["text-primary", "font-medium"]}>BikeSP</a>. In addition to my previous tasks, 
      I was also responsible for technical decisions, project architecture, team management, and project deployment.
    </TimeLineElement>
    <TimeLineElement
      title="Cloud Infrastructure Engineer Intern at Brex"
      subtitle="From March, 2025 to December, 2025"
    >
      <Si.SiBrex slot="icon"/>
      I was admitted for an internship at <a href="https://www.brex.com/" class:list={["text-primary", "font-medium"]}>Brex</a>, working on the Cloud Infrastructure team.
      My main responsibilities were to support my team by tackling on less critical issues, improving team's efficiency and reliability, while also taking care of my own projects.
    </TimeLineElement>
    <TimeLineElement
      title="Junior Cloud Infrastructure Engineer at Brex"
      subtitle="Since February, 2026"
    >
      <Si.SiBrex slot="icon"/>
      I got promoted to a full-time position at <a href="https://www.brex.com/" class:list={["text-primary", "font-medium"]}>Brex</a>, still being part of the Cloud Infrastructure team, 
      but now with more responsibilities and ownership over my projects.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Technologies</div>
  </div>

  <ul class="list-none md:columns-5 columns-2 mx-6">
    <li><span class="text-orange-400"><Fa.FaGitAlt className="inline"/> </span>Git</li>
    <li><span class="text-blue-400"><Io.IoLogoDocker className="inline" /> </span>Docker</li>
    <li><span class="text-orange-600"><Fa.FaRust className="inline"/> </span>Rust</li>
    <li><span class="text-yellow-400"><Fa.FaJsSquare className="inline"/> </span>JS/TS</li>
    <li><span class="text-yellow-400"><Fa.FaPython className="inline"/> </span>Python</li>
    <li><span class="text-cyan-400"><Si.SiGo className="inline" /> </span>Golang</li>
    <li><span class="text-cyan-400"><Io.IoGlobeOutline className="inline"/> </span>Web</li>
    <li><span class="text-blue-400"><Si.SiPostgresql className="inline"/> </span>Postgres</li>
    <li><span class="text-fuchsia-600"><Si.SiKotlin className="inline"/> </span>Kotlin</li>
    <li><span class="text-green-500"><Si.SiGnubash className="inline" /> </span>Shell</li>
    <li><span class="text-red-700"><Tb.TbLambda className="inline" /> </span>FP</li>
    <li><span class="text-purple-700"><Si.SiTerraform className="inline" /> </span>Terraform</li>
    <li><span class="text-orange-500"><Fa.FaAws className="inline" /> </span>AWS</li>
  </ul>
</BaseLayout>
